<header class="p-3 bg-black text-danger">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-black text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="#" class="nav-link px-2 text-secondary">Acceuil</a></li>
                <li><a href="#" class="nav-link px-2 text-white">Qui suis-je</a></li>
                <li><a href="tarifs" class="nav-link px-2 text-white">Tarif</a></li>
                <li><a href="faq" class="nav-link px-2 text-white">FAQs</a></li>
                <li><a href="contact" class="nav-link px-2 text-white">Contact</a></li>
            </ul>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                <input type="search" class="form-control form-control-dark text-white bg-dark" placeholder="Search..." aria-label="Search">
            </form>


            <div>
                <a class="btn btn-outline-light me-2" href="login" values="se loger">Login</a>
                <a button type="button" class="btn btn-warning"href="registration">Sign-up</a>
            </div>
        </div>
    </div>
</header>